<a href="/user/profile">Back to profile!</a>
<a href="/user/recipe/<%- recipe._id %>">Back to recipe!</a>

<h1>EDIT RECIPE</h1>

<form action="/user/recipe/<%- recipe._id %>/edit" method="post" enctype="multipart/form-data">
        <label for="title">Title : <input type="text" name="title" value="<%= recipe.title %>"></label>
        <br>
        <label for="image">Image :
                <input type="file" name="image">
                <input type="text" name="existingImage" hidden value="<%= recipe.image %>">
        </label>
        <br>
        <label for="cookingTime">Cooking Time : <input type="number" name="cookingTime"
                        value="<%= recipe.cookingTime %>" min="1"></label>
        <br>
        <label for="countryOfOrigin">Country Of Origin : <input type="text" name="countryOfOrigin"
                        value="<%= recipe.countryOfOrigin %>"></label>
        <br>
        <label for="continent">Continent : <select name="continent" id="continent">
                        <% ["Asia","Africa", "Australia" ,"Europe","North America","South America"].forEach(element=> {
                                %>
                                <option value="<%- element %>" <% if(element===recipe.continent) { %>
                                        selected
                                        <% } %>
                                                ><%- element %>
                                </option>
                                <% }) %>
                </select>
        </label>
        <br>
        <label for="level">Level : <select name="level" id="level">
                        <% ["Novice", "Intermediate" , "Advanced" , "Expert" ].forEach(element=> { %>
                                <option value="<%- element %>" <% if(element===recipe.level) { %>
                                        selected
                                        <% } %>><%- element %>
                                </option>
                                <% }) %>
                </select>
        </label>
        <br>
        <label for="mealType">Meal Type : <select name="mealType" id="mealType">
                        <% ["Breakfast", "Lunch" , "Dinner" , "Snack" , "Dessert" ].forEach(element=> { %>
                                <option value="<%- element %>" <% if(element===recipe.mealType) { %>
                                        selected
                                        <% } %>><%- element %>
                                </option>
                                <% }) %>
                </select>
        </label>
        <br>
        <label for="serves">Serves : <input type="number" name="serves" value="<%= recipe.serves %>"></label>

        <br>
        <label for="ingredients">Ingredients : <textarea name="ingredients" cols="30" rows="10"
                        placeholder="Please separator ingredients by using comma(,) Ex. 1 edd, 2 bacon, etc... "><%= recipe.ingredients %></textarea></label>
        <br>
        <label for="directions">Directions :
                <textarea name="directions" cols="50" rows="10" placeholder="Please start with 
            Step 1. ... , 
            Step 2. ..., 
            etc."><%= directions %></textarea></label>
        <br>
        <label for="recipeType">Recipe Type : <select name="recipeType">
                        <% ["Meat", "Fish" , "Vegetarian" , "Vegan" ].forEach(element=> { %>
                                <option value="<%- element %>" <% if(element===recipe.recipeType) { %>
                                        selected
                                        <% } %>><%- element %>
                                </option>
                                <% }) %>
                </select>
        </label>
        <br>
        <button type="submit">Edit</button>
</form>
<form action="/user/recipe/<%- recipe._id %>/delete" method="post">
        <button onclick="confirmDelete()">Delete</button>
</form>

<% if (alertMessage) { %>
        <script>
                alert("<%= alertMessage %>");
        </script>
        <% } %>

                <script>
                        function confirmDelete() {
                                if (confirm("Are you sure you want to delete?")) {
                                        document.getElementById("myForm").submit();
                                }
                        }
                </script>