<a href="/user/profile">Back to profile</a>
<h1>
    <%= recipe.title %>
</h1>
<div>
    <img src="<%= recipe.image %>" alt="<%= recipe.title %>" style="width: 400px;">
    <h1> Title : <%= recipe.title %>
    </h1>
    <p> Cooking Time : <%= recipe.cookingTime %> minutes
    </p>
    <p> Country Of Origin : <%= recipe.countryOfOrigin %>
    </p>
    <p> Continent : <%= recipe.continent %>
    </p>
    <p> Meal Type : <%= recipe.mealType %>
    </p>
    <p> Serves : <%= recipe.serves %>
    </p>
    <h3>Ingredients : </h3>
    <ul>
        <% recipe.ingredients.forEach(ingredient=> { %>
            <li>
                <%= ingredient %>
            </li>
            <% }) %>
    </ul>
    <h3>Directions : </h3>
    <ul>
        <% recipe.directions.map(direction=> { %>
            <li>
                <%= direction %>
            </li>
            <% }) %>
    </ul>

    <a href="/user/recipe/<%- recipe._id %>/edit">Edit</a>

    <form action="/user/recipe/<%- recipe._id %>/delete" method="post">
        <button type="submit">Delete</button>
    </form>



</div>