<h2>All Recipes</h2>
<a href="/recipes/recipe/randomRecipe">Random Recipe</a>

<form action="recipes/filter" method="POST">
  <label for="">Title: <input type="text" name="title" /></label>
  <label
    >Recipe Type:
    <select name="recipeType">
      <% allRecipes.forEach(recipe => { %>
      <option value="recipeType"><%- recipe.recipeType %></option>
      <% }) %>
    </select>
  </label>
  <label
    >Meal Type:
    <select name="mealType">
      <% allRecipes.forEach(recipe => { %>
      <option value="mealType"><%- recipe.mealType %></option>
      <% }) %>
    </select>
  </label>
  <label
    >Level:
    <select name="level">
      <% allRecipes.forEach(recipe => { %>
      <option value="level"><%- recipe.level %></option>
      <% }) %>
    </select>
  </label>
  <label
    >Continent:
    <select name="continent">
      <% allRecipes.forEach(recipe => { %>
      <option value="continent"><%- recipe.continent %></option>
      <% }) %>
    </select>
  </label>
  <label
    >Country of origin:
    <select name="countryOfOrigin">
      <% allRecipes.forEach(recipe => { %>
      <option value="countryOfOrigin"><%- recipe.countryOfOrigin %></option>
      <% }) %>
    </select>
  </label>
  <button type="submit">Search</button>
</form>

<ul>
  <% allRecipes.forEach(recipe => { %>
  <li><a href="/recipes/<%- recipe._id %>"><%= recipe.title %></a></li>
  <li><img src="<%= recipe.image %>" alt="" /></li>
  <% }) %>
</ul>
