<h2>Random Recipe</h2>
<a href="/recipes">All Recipes</a>
<ul>
    <h1><%= randomRecipe.title %></h1>
    <img src="<%= randomRecipe.image %>" alt="random recipe picture">
    <p>Cooking Time: <%= randomRecipe.cookingTime %> minuntes</p>
    <p>Country: <%= randomRecipe.countryOfOrigin %></p>
    <p>Continent: <%= randomRecipe.continent %></p>
    <p>Cooking Level: <%= randomRecipe.level %></p>
    <p>Meal Type: <%= randomRecipe.mealType %></p>
    <p>Servings: <%= randomRecipe.serves %></p>
    <p>Ingredients: <%= randomRecipe.ingredients %></p>
    <p>Directions: <%= randomRecipe.directions %></p>
    <p>Recipe Type: <%= randomRecipe.recipeType %></p>
    <p>Created By: <%= randomRecipe.createdBy %></p>
</ul>
